@model ProjetoFinal.Ticket

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center fw-bold">Deletar</h1>

<h3>Você tem certeza que deseja apagar este ticket?</h3>
<div>
    <h4>INC @Html.DisplayFor(model => model.TicketId)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketHora)
        </dd>
        <!--
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketEvidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketEvidencia)
        </dd>
        -->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketDescricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TicketId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-primary">Voltar para Tickets</a>
    </form>
</div>
