@model ProjetoFinal.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketEvidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketEvidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketDescricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TicketId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
