@model ProjetoFinal.Usuario

@{
    ViewData["Title"] = "Exibir";
}

<h1 class="text-center"><b>Dados do Usuário</b></h1>

<div>
    <h4>ID @Html.DisplayFor(model => model.UserId)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLogin)
        </dd>
        
        
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.UserId">Editar Usuário</a> |
    <a asp-action="Index" class="btn btn-outline-primary">Voltar para Usuários </a>
</div>
