@model IEnumerable<ProjetoFinal.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuário</h1>

<p>
    <a asp-action="Create">Criar Usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSenha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSenha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Editar Usuário</a> | 
                <a asp-action="Details" asp-route-id="@item.UserId">Exibir Usuário</a> | 
                <a asp-action="Delete" asp-route-id="@item.UserId">Deletar Usuário</a>
            </td>
        </tr>
}
    </tbody>
</table>
